html {
  font-size: 16px;
  font-family: $font-sans;
  background-color: $document-background;
  @include font-smoothing;
}

.Main {
  @include toRem(margin-top, 20);
  @include toRem(padding-left, 10);
  @include toRem(padding-right, 10);
}

.PageHeader {
  @include toRem(margin-bottom, 30);
}
